<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FBOE__Contact us</title>
    <link rel="icon" href="/static/images/onlylogo.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Secular+One&display=swap" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link rel="stylesheet" href="/static/css/contact.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- GSAP&ScrollPlugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js" integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.min.js" integrity="sha512-nTHzMQK7lwWt8nL4KF6DhwLHluv6dVq/hNnj2PBN0xMl2KaMm1PM02csx57mmToPAodHmPsipoERRNn4pG7f+Q==" crossorigin="anonymous"></script>
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>

    <!-- ScrollMagic -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js" integrity="sha512-8E3KZoPoZCD+1dgfqhPbejQBnQfBXe8FuwL4z/c8sTrgeDMFEnoyTlH3obB4/fV+6Sg0a0XF+L/6xS4Xx1fUEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script defer src="/static/js/contact.js"></script>
  </head>
<body>
  <header>
    <div class="inner">
      <a href="../" class="logo">
        <img src="/static/images/FBOENAME.png" alt="FBOE" />
      </a>
      <ul class="nav">
        <li><a href="../">Home</a></li>
        <li id="solution__moblie"><a class="solution" href="../mbca">Solutions</a>
          <div class="solutions">
            <div><a href="../mbca">MBCA</a></div>
            <div><a href="../amc">AMC</a></div>
          </div>
        </li>
        <li><a href="../introduction">About us</a></li>
        <li><a href="../contact" class="underline">Contact us</a></li>
      </ul>
      <a href="javascript:void(0)" class="nav__button">
          <img src="/static/images/bar.png" alt="IMAGE1">
      </a>
    </div>
  </header>
  <section class="main">
    <input  class="map__btn" type="button" value="M A P" class="btn">
    <img class="bg" src="/static/images/BG.png" alt="BG" />
    <div class="left scroll-spy">
      <div class="left__write">
        <div class="title back-to-position to-up delay-0">Contact <br>us</div>
        <div class="information">
          <div class="line back-to-position to-up delay-1"></div>
          <div class="des back-to-position to-right delay-2">
            We provide optimal artificial <br>intelligence solutions for various fields.
          </div>
          <div class="name back-to-position to-right delay-3">
            <span class="material-icons notranslate">account_circle</span>
            Sungmoon Ahn
          </div>
          <div class="email back-to-position to-right delay-3">
            <span class="material-icons notranslate">email</span>
            fboe@fboeit.com
          </div>
          <div class="address back-to-position to-right delay-3">
            <span class="material-icons notranslate">home</span>
            Room 1033, Ulsan Biz Park, 406-21,<br> Jongga-ro, Jung-gu, Ulsan,<br> Republic of Korea
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right__above">
        <div class="table scroll-spy">
          <form action="{% url 'users:contactus' %}" class="sign" method="post">{% csrf_token %}
            <div class="first back-to-position to-left delay-3">
              <div class="company">
                C o m p a n y<br>
                <input type="text" name="company" id="company" placeholder="Company">
              </div>
              <div class="industry">
                I n d u s t r y<br>
                <input type="text" name="industry" id="industry" placeholder="Industry">
              </div>
            </div>
            <div class="second back-to-position to-left delay-3">
              <div class="first__name">
                Name<br>
                <input type="text" name="firstname" id="firstname" placeholder="First Name">
                <br><div class="sub">First name</div>
              </div>
              <div class="last__name">
                <br>
                <input type="text" name="lastname" id="lastname" placeholder="Last Name">
                <br><div class="sub">Last name</div>
              </div>
            </div>
            <div class="third back-to-position to-left delay-3">
              <div class="job__title">
                J o b&nbsp;&nbsp;&nbsp;&nbsp;T i t l e<br>
                <input type="text" name="job_title" id="job_title" placeholder="Job Title">
              </div>
              <div class="mail">
                E m a i l<br>
                <input type="text" name="email" id="email" placeholder="Email">
              </div>
            </div>
            <div class="message back-to-position to-left delay-3">
              M e s s a g e<br>
              <textarea name="message" class="autosize" id="message" onkeydown="resize(this)" onkeyup="resize(this)" style="height:25px;" placeholder="Message"></textarea>
              <script>
                function resize(obj) {
                  obj.style.height = "1px";
                  obj.style.height = (-20+obj.scrollHeight)+"px";
                }
              </script>
            </div>
            <div class="btn back-to-position to-down delay-4">
              <input  type="submit" value="Submit" class="btn">
            </div>
          </form>
        </div>
      </div>
      <div class="map scroll-spy">
        <div id="map" class="back-to-position to-left delay-1"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e7d924c1d76f0b898ee76d62213b4cc8"></script>
      </div>
    </div>
    <P class="footer">FBOE Co., Ltd. All Rights Reserved.</P>
  </section>
</body>
</html>
