<!--history , content3-->
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>About Us</title>

  <link rel="icon" href="./images/onlylogo.png" />
  <!--브라우저 스타일 초기화-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <!--Google Fonts - 나눔고딕-->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
  <!--Google Material Icons-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <!--Swiper-->
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>
  <!--ScrollMagic-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
  <!--Lodash-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww==" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/static/css/content3.css" />
  <script defer src="/static/js/aboutus.js"></script>
</head>
<body>

  <!--HEADER-->
  <header>

      <div class="inner">
        <a href="../" class="logo">
          <img src="/static/images/FBOENAME.png" alt="FBOE" />
        </a>

        <div class="main__nav">

          <ul class="nav">
            <div class="nav__name"><a href="../">Home</a></div>
            <div class="nav__name" id="underline"><a class="solution" href="../mbca">Solutions</a>
              <ul class="solutions-nav">
                <li><a href="../mbca">MBCA</a></li>
                <li><a href="../amc">AMC</a></li>
              </ul>
            </div>
            <div class="nav__name" id="underline"><a class="aboutus" href="../content1">About us</a></div>
            <div class="nav__name"><a href="../contact">Contact us</a></div>
          </ul>

        </div>
      </div>

    </div>
    <a href="javascript:void(0)" class="nav__button">
      <!-- <span class="material-icons-outlined"> -->
        <img src="/static/images/bar.png" alt="IMAGE1">
        <!-- </span> -->
    </a>

  </header>

  <!-- ABOUTUS-HEADER -->
  <section class="aboutus-header">
    <div class="inner2 scroll-spy">

      <div class="title-wrapper">
        <div class="title">
          <h1>ABOUT US</h1>
        </div>
        <div class="aboutus-wrapper">
          <ul class="aboutus-menu">
            <li> <a href="/content3/content1.html" class="content1">INTRODUCTION</a> </li>
            <li> <a href="/content3/content3.html" class="content3">HISTORY</a> </li>
          </ul>
        </div>
      </div>

    </div>
  </section>

  <!-- HISTORY -->
  <section class="history scroll-spy">
    <article class="history-page ">
      <div class="title-group back-to-position to-bottom delay-0">
        <h1>History</h1>

      </div>
      <article class="history-list-box back-to-position to-bottom delay-1">
        <ul>
          <li class="history-year-box">
            <h4>2022</h4>
            <div class="history-year-list-con top-line-con">
              <dl class="history-year-item">
                <dt class="history-month"><strong>05</strong></dt>
                <dd class="history-info-con">
                  <p><strong class="history-month-content"></strong><span>울산 지능로봇연구소 ETRI 온디바이스 AI 드론 탑재 솔루션 (진행중)</span></p>
                </dd>
              </dl>
            </div>
            <div class="history-year-list-con ">
              <dl class="history-year-item">
                <dt class="history-month"><strong>04</strong></dt>
                <dd class="history-info-con">
                  <p><strong class="history-month-content"></strong><span>프보이 주식회사 법인 주소 이전</span></p>
                </dd>
              </dl>
            </div>
            <div class="history-year-list-con ">
              <dl class="history-year-item">
                <dt class="history-month"><strong>03</strong></dt>
                <dd class="history-info-con">
                  <p><strong class="history-month-content"></strong><span>예비창업패키지 우수기업 선정</span></p>
                </dd>
              </dl>
            </div>
            <div class="history-year-list-con ">
              <dl class="history-year-item">
                <dt class="history-month"><strong>02</strong></dt>
                <dd class="history-info-con">
                  <p><strong class="history-month-content"></strong><span>운동선수 부상 방지 훈련 주기 그래프 추천 AI 솔루션(QMIT)</span></p>
                </dd>
              </dl>
            </div>

          </li>

          <li class="history-year-box back-to-position to-bottom delay-2">
            <h4>2021</h4>
            <div class="history-year-list-con top-line-con">
              <dl class="history-year-item">
                <dt class="history-month"><strong>12</strong></dt>
                <dd class="history-info-con">
                  <p><strong class="history-month-content"></strong><span>항만 선박 내 이상부위 검지 AI 솔루션(CMI Bertec)</span></p>
                  <p><strong class="history-month-content"></strong><span>소모품 자산 관리 AI 솔루션(HMP)</span></p>
                </dd>
              </dl>
            </div>
            <div class="history-year-list-con ">
              <dl class="history-year-item">
                <dt class="history-month"><strong>11</strong></dt>
                <dd class="history-info-con">
                  <p><strong class="history-month-content"></strong><span>2021 인공지능 챔피언십 CGV 부문 3위 수상</span></p>
                </dd>
              </dl>
            </div>
            <div class="history-year-list-con ">
              <dl class="history-year-item">
                <dt class="history-month"><strong>07</strong></dt>
                <dd class="history-info-con">
                  <p><strong class="history-month-content"></strong><span>프보이 주식회사 법인 설립</span></p>
                </dd>
              </dl>
            </div>
            <div class="history-year-list-con ">
              <dl class="history-year-item">
                <dt class="history-month"><strong>06</strong></dt>
                <dd class="history-info-con">
                  <p><strong class="history-month-content"></strong><span>2021 예비 창업 패키지 선정</span></p>
                </dd>
              </dl>
            </div>


          </li>
        </ul>
      </article>
    </article>
  </section>

  <hr class="featurette-divider">


  <!-- awards -->
  <section class="awards scroll-spy">

    <div class="inner">
      <div class="title-group back-to-position to-bottom delay-0">
        <!-- <span class="sub-title">FBOEIT</span> -->
        <h1>Awards</h1>
      </div>

      <!-- Swiper -->
      <div class="swiper mySwiper back-to-position to-bottom delay-1">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
            <p>award1</p>
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
            <p>award2</p>
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
            <p>award3</p>
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
            <p>award4</p>
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
            <p>award5</p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>


    </div>



    </div>

  </section>




  <!-- CONTACT-US -->
  <!-- <section class="contact">
    <div class="inner">
      <div class="contact__frame">
        <div class="contact__frame__left">
          <div class="title">Contact us</div>
          <div class="mail">이메일</div>
          <div class="number">전화번호</div>
        </div>
        <div class="table">
          <div class="name">Name
            <div class="name__all">
              <div class="name__first"><input type="text" placeholder="First Name"><br>First Name</div>
              <div class="name__second"><input type="text" placeholder="Last Name"><br>Last Name</div>
            </div>
          </div>
          <div class="guest__email">Email<br><input type="text" placeholder="Email"></div>
          <div class="message">Message<br><textarea name="" id="" cols="30" rows="15" placeholder="Message"></textarea></div>
          <div class="click">

            <a href="javascript:void(0)"><input class="button" type="button" name="send" value="send"></a>

          </div>
        </div>
      </div>
    </div>
  </section> -->


</body>

</html>
