<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <title>FBOE</title>

  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="FBOE" />
  <meta property="og:title" content="FBOE" />
  <meta property="og:description" content="AI solutions" />
  <meta property="og:image" content="images\FBOE.png" />
  <meta property="og:url" content="https://guileless-tulumba-bd09b5.netlify.app" />

  <meta property="twitter:card" content="summary" />
  <meta property="twitter:site" content="FBOE" />
  <meta property="twitter:title" content="FBOE" />
  <meta property="twitter:description" content="AI solutions" />
  <meta property="twitter:image" content="images\FBOE.png" />
  <meta property="twitter:url" content="https://guileless-tulumba-bd09b5.netlify.app" />

  <link rel="icon" href="/static/images/onlylogo.png">
  <!--GSAP & ScrollToPlugin-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
    integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.min.js"
    integrity="sha512-nTHzMQK7lwWt8nL4KF6DhwLHluv6dVq/hNnj2PBN0xMl2KaMm1PM02csx57mmToPAodHmPsipoERRNn4pG7f+Q=="
    crossorigin="anonymous"></script>
  <!--ScrollMagic-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
  <!--Lodash-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"
    integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww=="
    crossorigin="anonymous"></script>
  <!-- SWIPER-->
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>
  <!-- fonts -->
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet"> -->
  <!--Google Fonts - 나눔고딕-->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">

  <!--Google Material Icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- sweetalert2 -->
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <script src="https://kit.fontawesome.com/f78e61feb7.js" crossorigin="anonymous"></script>
  <script defer src="/static/js/main.js"></script>
</head>

<body style="overflow-x: hidden">
  <!-- <header>
    <div class="inner">
      <nav class="navbar">
        <div class="navbar__logo">
          <a href="/">
            <img src="./images/name.png" alt="">
          </a>
        </div>

        <ul class="navbar__menu">
          <li>
            <a href="javascript:void(0)">Home</a>
          </li>
          <li>
            <a href="javascript:void(0)">Solutions</a>
          </li>
          <li>
            <a href="javascript:void(0)">About Us</a>
          </li>
          <li>
            <a href="javascript:void(0)">Meeting</a>
          </li>
        </ul>

        <a href="javascript:void(0)" class="navbar__toogleBtn">
          <i class="fa-solid fa-bars"></i>
        </a>
      </nav>
    </div>
  </header> -->

  <!-- HEADER -->
  <header>
    <div class="inner">
      <a href="../" class="logo">
        <img src="/static/images/FBOENAME.png" alt="FBOE" />
      </a>
      <div class="main__nav">
        <div class="nav">
          <div class="nav__name"><a id="home" href="../">Home</a></div>
          <div class="nav__name" id="underline"><a class="solution" href="../mbca">Solutions</a>
            <ul class="solutions-nav">
              <li><a href="../mbca">MBCA</a></li>
              <li><a href="../amc">AMC</a></li>
            </ul>
          </div>
          <div class="nav__name" id="underline"><a class="aboutus" href="../introduction">About us</a></div>
          <div class="nav__name"><a href="../contact">Contact us</a></div>
        </div>
      </div>
    </div>
    <a href="javascript:void(0)" class="nav__button">
      <img src="/static/images/bar.png" alt="IMAGE1">
    </a>
  </header>


  <!-- visual -->
  <section class="visual">
    <img class="imgbg fade-in" src="/static/images/FBOE_bg2.png" alt="">
    <p class="word fade-in">Think, Optimally!</p>
    <p class="word2 fade-in">AI Solution</p>
  </section>

  <!-- Vision -->
  <section class="vision">
    <div class="inner scroll-spy-box scroll-spy">
      <div class="vision-description back-to-position to-bottom delay-0">
        <h3>Our vision</h3>
        <p>For the blank, By the blank, Of the blank
          In our FBOE, different viewpoints come together to become “One-Team”, and mutual trust and creativity create an infinite future.
        </p>
      </div>
    </div>
    <div class="large-inner">
      <ul class="img-box">
        <li class="imgAndDes scroll-spy-box scroll-spy">
          <div class="vision__des back-to-position to-right spd delay-1">
            <div class="img-box1">
              <img class="sec" src="/static/images/TRUST.png" alt="">
            </div>
            <p>asfn asfn asfn asfn asfn asfn asfn asfn asfn asfn asfn asfngri giurbgiulerb erbg ieurb rugb ergu rug r
              gru
              brgbr</p>
            <span class="t">TRUST</span>
          </div>
        </li>
        <li class="imgAndDes scroll-spy-box scroll-spy">
          <div class="vision__des back-to-position to-right spd delay-2">
            <div class="img-box1">
              <img class="sec" src="/static/images/CREATIVE.png" alt="">
            </div>
            <p>asfn asfn asfn asfn asfn asfn asfn asfn asfn asfn asfn asfngri giurbgiulerb erbg ieurb rugb ergu rug r
              gru
              brgbr</p>
            <span class="c">CREATIVE</span>
          </div>
        </li>
        <li class="imgAndDes scroll-spy-box scroll-spy">
          <div class="vision__des back-to-position to-right spd delay-3">
            <div class="img-box1">
              <img class="sec" src="/static/images/FUTURE.png" alt="">
            </div>
            <p>asfn asfn asfn asfn asfn asfn asfn asfn asfn asfn asfn asfngri giurbgiulerb erbg ieurb rugb ergu rug r
              gru
              brgbr</p>
            <span class="f">FUTURE</span>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- experience -->
  <section class="experience">
    <div class="large-inner">
      <div class="scroll-spy-box scroll-spy">
        <h3 class="STitle back-to-position to-bottom delay-0">Our Experience</h3>
      </div>
      <ul class="experience__contents">
        <li class="content__item scroll-spy">
          <div class="item__img img_1 back-to-position spd to-right delay-1">
            <img src="/static/images/ref1.png" alt="ref1">
          </div>
          <div class="item__text back-to-position spd to-left delay-1">
            <h4>AI-based vessel defect status detection application</h4>
            <p>AI application that detects corrosion, cracks, and deformation
               of the walls inside the ship, stores and manages them in the database, and enables real-time contorl
            </p>
          </div>
        </li>
        <li class="content__item two scroll-spy">
          <div class="item__text back-to-position spd to-right delay-1">
            <h4>Training Cycle Recommendation AI Solution to Prevent Athlete Injuries</h4>
            <p>Athletes need training of appropriate intensity and duration to avoid injury.
              We independently modeled artificial intelligence capable of accommodating various
              constraints and provided service through Cloud AI API.
            </p>
          </div>
          <div class="item__img img_2 back-to-position spd to-left delay-1">
            <img src="/static/images/ref2.png" alt="ref2">
          </div>
        </li>
        <li class="content__item three scroll-spy">
          <div class="item__img img_3 back-to-position spd to-right delay-1">
            <img src="/static/images/reference3.png" alt="">
          </div>
          <div class="item__text back-to-position spd to-left delay-1">
            <h4>Korean License Plate Recognition AI</h4>
            <p class="p_3">Real-time License Plate Recognition AI Solution with 95%+ performance
            </p>
          </div>
        </li>
        <li class="content__item foo scroll-spy">
          <div class="item__text back-to-position spd to-right delay-1">
            <h4>Real-time ship’s consumables management Solution</h4>
            <p class="p_4">Window Application that allows real-time control and management
              of numerous consumables in a ship.
            </p>
          </div>
          <div class="item__img img_4 back-to-position spd to-left delay-1">
            <img src="/static/images/ref3.png" alt="ref3">
          </div>
        </li>
      </ul>
  </section>

  <!-- Solution -->
  <section class="Solution">
    <div class="inner">
      <div class="scroll-spy-box scroll-spy">
        <h3 class="back-to-position to-bottom delay-0">Our Solutions</h3>
        <div class="inner__box">
          <p class="back-to-position to-top delay-0">
            It is to form a bright future with people-centered thinking skills by
            proving infinite value based on trust
            and improving creative thinking skills that maximize efficiency.
          </p>
        </div>
      </div>
      <div class="solution-box">
        <div class="img scroll-spy-box scroll-spy">
          <h4 class="Solution-title">MBCA</h4>
          <img src="/static/images/Solution__1.png" alt="">
          <div class="img__btn back-to-position to-bottom delay-1">
            <a href="mbca" class="btn">learn more</a>
          </div>
        </div>
        <div class="img scroll-spy-box scroll-spy">
          <h4 class="Solution-title">AMC</h4>
          <img src="/static/images/AMC_Solution.png" alt="">
          <div class="img__btn back-to-position to-bottom delay-1">
            <a href="amc" class="btn">learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact scroll-spy">
    <div class="inner">
      <div class="contact_text">
        <h2 class="back-to-position to-bottom delay-0">Contact us</h2>
        <div class="text back-to-position to-right delay-2">
          <p class="des">We provide optimal artificial intelligence solutions for various fields.
          </p>
          <p class="nameAndTel"><span class="material-icons">account_circle</span> 안성문</p>
          <p class="email"><span class="material-icons">email</span>fboe@fboeit.com</p>
          <p class="address"><span class="material-icons">home</span> 울산광역시 중구 종가로 406-21 우정혁신도시 울산비즈파크 c동 1033호</p>
        </div>
      </div>
      <form action="{% url 'users:index' %}" class="sign" method="post">
        {% csrf_token %}
        <div class="Title">
          <div class="first back-to-position to-bottom delay-0" >
            <label for="company1">Company</label><br>
            <input type="text" name="company1" id="company1" placeholder="Company">
          </div>
          <div class="last back-to-position to-bottom delay-1" >
            <label for="industry1">Industry</label><br>
            <input type="text" name="industry1" id="industry1" placeholder="Industry">
          </div>
        </div>

        <div class="Title" >
          <div class="first back-to-position to-bottom delay-2" >
            <label for="firstname1">Name</label><br>
            <input type="text" name="firstname1" id="firstname1" placeholder="First Name">
          </div>
          <div class="last back-to-position to-bottom delay-3">
            <label for="lastname1"></label><br>
            <input type="text" name="lastname1" id="lastname1" placeholder="Last Name">
          </div>
        </div>

        <div class="Title" >
          <div class="first back-to-position to-bottom delay-4" >
            <label for="job_title1">Job Title</label><br>
            <input type="text" name="job_title1" id="job_title1" placeholder="Job Title">
          </div>

          <div class="last back-to-position to-bottom delay-5" >
            <label for="email1">Email</label><br>
            <input type="email" name="email1" id="email1" placeholder="Email">
          </div>
        </div>

        <div class="Title">
          <div class="back-to-position to-bottom delay-6" >
            <label for="message1">Message</label><br>
            <textarea name="message1" id="message1" cols="54" rows="2" placeholder="Message"></textarea>
          </div>
        </div>

<!--        <div class="bt back-to-position to-bottom delay-7">-->
<!--          <button class="btn btn&#45;&#45;white" type="submit">Submit</button>-->
<!--        </div>-->
        <div class="bt back-to-position to-bottom delay-7">
          <button id="alertStart" class="btn btn--white" type="submit">Submit</button>
        </div>
      </form>
      <p class="copyright">
        &copy; <span class="this-year"></span> FBOE Inc. All rights reserved.
      </p>
    </div>
  </section>

</body>

</html>
