<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <title>FBOE</title>

  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="FBOE" />
  <meta property="og:title" content="FBOE" />
  <meta property="og:description" content="AI solutions" />
  <meta property="og:image" content="images\FBOE.png" />
  <meta property="og:url" content="https://guileless-tulumba-bd09b5.netlify.app" />

  <meta property="twitter:card" content="summary" />
  <meta property="twitter:site" content="FBOE" />
  <meta property="twitter:title" content="FBOE" />
  <meta property="twitter:description" content="AI solutions" />
  <meta property="twitter:image" content="images\FBOE.png" />
  <meta property="twitter:url" content="https://guileless-tulumba-bd09b5.netlify.app" />

  <link rel="icon" href="/static/images/onlylogo.png" />
<!--  <link rel="icon" href="/static/images/favicon.ico">-->
  <!--GSAP & ScrollToPlugin-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
    integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.min.js"
    integrity="sha512-nTHzMQK7lwWt8nL4KF6DhwLHluv6dVq/hNnj2PBN0xMl2KaMm1PM02csx57mmToPAodHmPsipoERRNn4pG7f+Q=="
    crossorigin="anonymous"></script>
  <!--ScrollMagic-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
  <!--Lodash-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"
    integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww=="
    crossorigin="anonymous"></script>
  <!-- SWIPER-->
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>
  <!-- fonts -->
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet"> -->
  <!--Google Fonts - 나눔고딕-->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">

  <!--Google Material Icons-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <script src="https://kit.fontawesome.com/f78e61feb7.js" crossorigin="anonymous"></script>
  <script defer src="/static/js/main.js"></script>
</head>

<body style="overflow-x: hidden">
  <!-- HEADER -->
  <header>
    <div class="inner">
      <a href="../" class="logo">
        <img src="/static/images/FBOENAME.png" alt="FBOE" />
      </a>
      <div class="main__nav">
        <div class="nav">
          <div class="nav__name"><a id="home" href="../">Home</a></div>
          <div class="nav__name" id="underline"><a class="solution" href="../mbca">Solutions</a>
            <ul class="solutions-nav">
              <li><a href="../mbca">MBCA</a></li>
              <li><a href="../amc">AMC</a></li>
            </ul>
          </div>
          <div class="nav__name"><a class="aboutus" href="../content1">About us</a></div>
          <div class="nav__name"><a href="../contact">Contact us</a></div>
        </div>
      </div>
    </div>
    <a href="javascript:void(0)" class="nav__button">
      <img src="/static/images/bar.png" alt="IMAGE1">
    </a>
  </header>

  <!-- visual -->
  <section class="visual">
    <img class="imgbg fade-in" src="/static/images/FBOE_bg2.png" alt="">
    <p class="word fade-in">Think, Optimally!</p>
  </section>

  <!-- Vision -->
  <section class="vision">
    <div class="inner scroll-spy-box scroll-spy">
      <div class="vision-description back-to-position to-bottom delay-0">
        <h3>Our vision</h3>
        <p>It is to form a bright future with people-centered thinking skills by proving infinite value based on trust
          and improving creative thinking skills that maximize efficiency.
        </p>
      </div>
    </div>
    <div class="large-inner">
      <ul class="img-box">
        <li class="imgAndDes scroll-spy-box scroll-spy">
          <div class="vision__des back-to-position to-right spd delay-1">
            <div class="img-box1">
              <img class="sec" src="/static/images/TRUST.png" alt="">
            </div>
            <p>asfn asfn asfn asfn asfn asfn asfn asfn asfn asfn asfn asfngri giurbgiulerb erbg ieurb rugb ergu rug r
              gru
              brgbr</p>
            <span class="t">TRUST</span>
          </div>
        </li>
        <li class="imgAndDes scroll-spy-box scroll-spy">
          <div class="vision__des back-to-position to-right spd delay-2">
            <div class="img-box1">
              <img class="sec" src="/static/images/CREATIVE.png" alt="">
            </div>
            <p>asfn asfn asfn asfn asfn asfn asfn asfn asfn asfn asfn asfngri giurbgiulerb erbg ieurb rugb ergu rug r
              gru
              brgbr</p>
            <span class="c">CREATIVE</span>
          </div>
        </li>
        <li class="imgAndDes scroll-spy-box scroll-spy">
          <div class="vision__des back-to-position to-right spd delay-3">
            <div class="img-box1">
              <img class="sec" src="/static/images/FUTURE.png" alt="">
            </div>
            <p>asfn asfn asfn asfn asfn asfn asfn asfn asfn asfn asfn asfngri giurbgiulerb erbg ieurb rugb ergu rug r
              gru
              brgbr</p>
            <span class="f">FUTURE</span>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- experience -->
  <section class="experience">
    <div class="large-inner">
      <div class="scroll-spy-box scroll-spy">
        <h3 class="STitle back-to-position to-bottom delay-0">Our Experience</h3>
      </div>
      <ul class="experience__contents">
        <li class="content__item scroll-spy">
          <div class="item__img back-to-position to-right delay-1">
            <img src="/static/images/ref1.png" alt="ref1">
          </div>
          <div class="item__text back-to-position to-left delay-2">
            <h4>Title</h4>
            <p>weoifnwioenf oiwenfoinawlenf ioalwnef liawnfwilo awenfiloawnfioawenf oawilnfioawe faiwln ew4
              awoeifno oawenfoiawenf woiaenf oiawwefwefewfwf fewfwfe
            </p>
          </div>
        </li>
        <li class="content__item scroll-spy">
          <div class="item__text back-to-position to-right delay-1">
            <h4>Title</h4>
            <p>refer ence__co nte t refe r ence__coerwer wwn tewe rwenr wer wet referen ce__content
              refsdference__content reference__contenter ence__ werwer content
            </p>
          </div>
          <div class="item__img back-to-position to-left delay-2">
            <img src="/static/images/ref2.png" alt="ref2">
          </div>
        </li>
        <li class="content__item scroll-spy">
          <div class="item__img back-to-position to-right delay-1">
            <img src="/static/images/reference3.png" alt="">
          </div>
          <div class="item__text back-to-position to-left delay-2">
            <h4>Title</h4>
            <p class="p_3">refer ence__conte nt referen ce__cont ent wr rwer wer werwer wer wer wer weference__content
              reference__content reference__content
              nce__conte nt referenc __content refe ence__content
            </p>
          </div>
        </li>
        <li class="content__item scroll-spy">
          <div class="item__text back-to-position to-right delay-1">
            <h4>Title</h4>
            <p class="p_4">reference__asdfontes adft reff erence_fwe_contentf sd ref sderen e__cont t r
              fesdfwefnce__content
              reference__content
              _contentnt refds fsdference_f _content
            </p>
          </div>
          <div class="item__img back-to-position to-left delay-2">
            <img src="/static/images/ref3.png" alt="ref3">
          </div>
        </li>
      </ul>
  </section>

  <!-- Solution -->
  <section class="Solution">
    <div class="inner">
      <div class="scroll-spy-box scroll-spy">
        <h3 class="back-to-position to-bottom delay-0">Our Solutions</h3>
        <div class="inner__box">
          <p class="back-to-position to-top delay-0">It is to form a bright future with people-centered thinking skills
            by
            proving infinite value based on trust
            and improving creative thinking skills that maximize efficiency.
          </p>
        </div>
      </div>
      <div class="solution-box">
        <div class="img scroll-spy-box scroll-spy">
          <h4 class="Solution-title">MBCA</h4>
          <img src="/static/images/Solution__1.png" alt="">
          <div class="img__btn back-to-position to-bottom delay-1">
            <a href="mbca" class="btn">learn more</a>
          </div>
        </div>
        <div class="img scroll-spy-box scroll-spy">
          <h4 class="Solution-title">AMC</h4>
          <img src="/static/images/Solution__2.png" alt="">
          <div class="img__btn back-to-position to-bottom delay-1">
            <a href="amc" class="btn">learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="awards">
    <div class="inner">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./images/awards_slide1.jpg" alt="대통령 표창" />
          </div>
          <div class="swiper-slide">
            <img src="./images/awards_slide2.jpg" alt="대통령 표창 (3년 연속)" />
          </div>
          <div class="swiper-slide">
            <img src="./images/awards_slide3.jpg" alt="우수사업주 인증" />
          </div>
          <div class="swiper-slide">
            <img src="./images/awards_slide4.jpg" alt="경연대회 대상" />
          </div>
          <div class="swiper-slide">
            <img src="./images/awards_slide5.jpg" alt="대한상의회장상" />
          </div>
          <div class="swiper-slide">
            <img src="./images/awards_slide6.jpg" alt="기업사회공헌 활동 부문" />
          </div>
          <div class="swiper-slide">
            <img src="./images/awards_slide7.jpg" alt="KSI 1위 (5년 연속)" />
          </div>
          <div class="swiper-slide">
            <img src="./images/awards_slide8.jpg" alt="KS-SQI 1위 (5년 연속)" />
          </div>
          <div class="swiper-slide">
            <img src="./images/awards_slide9.jpg" alt="커피전문점 부문 (4년 연속)" />
          </div>
          <div class="swiper-slide">
            <img src="./images/awards_slide10.jpg" alt="동반성장 부문 (4년 연속)" />
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="contact scroll-spy">
    <div class="inner">
      <div class="contact_text">
        <h2 class="back-to-position to-bottom delay-0">Contact us</h2>
        <div class="text back-to-position to-right delay-2">
          <p class="des">ewfih wef iuf w wefiw wiuefwe be bwe ewwb ewu ewbi ewqpsdjk ew4
            bg wubaskj qweb qls ewlwk
          </p>
          <p class="nameAndTel">대표: 안성문</p>
          <p class="email">E-mail: fboe@fboeit.com</p>
          <p class="address">Address: 울산광역시 중구 종가로 406-21 우정혁신도시 울산비즈파크 c동 1033호</p>
        </div>
      </div>
      <form action="{% url 'users:index' %}" class="sign" method="post">
        {% csrf_token %}
        <div class="Title">
          <div class="first back-to-position to-bottom delay-0" >
            <label for="company1">Company</label><br>
            <input type="text" name="company1" id="company1" placeholder="Company">
          </div>
          <div class="last back-to-position to-bottom delay-1" >
            <label for="industry1">Industry</label><br>
            <input type="text" name="industry1" id="industry1" placeholder="Industry">
          </div>
        </div>

        <div class="Title" >
          <div class="first back-to-position to-bottom delay-2" >
            <label for="firstname1">Name</label><br>
            <input type="text" name="firstname1" id="firstname1" placeholder="First Name">
          </div>
          <div class="last back-to-position to-bottom delay-3">
            <label for="lastname1"></label><br>
            <input type="text" name="lastname1" id="lastname1" placeholder="Last Name">
          </div>
        </div>

        <div class="Title" >
          <div class="first back-to-position to-bottom delay-4" >
            <label for="job_title1">Job Title</label><br>
            <input type="text" name="job_title1" id="job_title1" placeholder="Job Title">
          </div>

          <div class="last back-to-position to-bottom delay-5" >
            <label for="email1">Email</label><br>
            <input type="email" name="email1" id="email1" placeholder="Email">
          </div>
        </div>

        <div class="Title">
          <div class="back-to-position to-bottom delay-6" >
            <label for="message1">Message</label><br>
            <textarea name="message1" id="message1" cols="54" rows="2" placeholder="Message"></textarea>
          </div>
        </div>

        <div class="bt back-to-position to-bottom delay-7">
          <button class="btn btn--white" type="submit">Submit</button>
        </div>
      </form>
<!--                <form action="{% url 'users:index' %}" class="sign" method="post">-->
<!--            {% csrf_token %}-->
<!--&lt;!&ndash;            {{ form.as_p }}&ndash;&gt;-->
<!--            <div class="first">-->
<!--              <div class="company">C o m p a n y<br>-->
<!--                <label for="company"></label>-->
<!--                <input type="text" name="company" required id="id_company" placeholder="Company">-->
<!--              </div>-->
<!--              <div class="industry">I n d u s t r y<br>-->
<!--                <label for="industry"></label>-->
<!--                <input type="text" name="industry" id="industry" placeholder="Industry">-->
<!--              </div>-->
<!--            </div>-->
<!--            <br>-->
<!--            &lt;!&ndash; N a m e &ndash;&gt;-->
<!--            <div class="second">-->
<!--              <div class="firstname">N a m e<br>-->
<!--                <label for="firstname"></label>-->
<!--                <input type="text" name="firstname" id="firstname" placeholder="First Name"><br><div class="under-write"><div class="subname">First&nbsp; Name</div></div>-->
<!--              </div>-->
<!--              <div class="lastname"><br>-->
<!--                <label for="lastname"></label>-->
<!--                <input type="text" name="lastname" id="lastname" placeholder="Last Name"><br><div class="under-write"><div class="subname">Last&nbsp; Name</div></div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div class="third">-->
<!--              <div class="job">J o b&nbsp;&nbsp;&nbsp;&nbsp;T i t l e<br>-->
<!--                <label for="job_title"></label>-->
<!--                <input type="text" name="job_title" id="job_title" placeholder="Job Title">-->
<!--              </div>-->
<!--              <div class="email">E m a i l<br>-->
<!--                <label for="email"></label>-->
<!--                <input type="text" name="email" id="email" placeholder="Email">-->
<!--              </div>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div>M e s s a g e<br>-->
<!--              <label for="message"></label>-->
<!--              <textarea name="message" class="autosize" id="message" onkeydown="resize(this)" onkeyup="resize(this)" style="height:25px;" placeholder="Message"></textarea>-->
<!--            </div>-->
<!--            <div class="bt back-to-position to-down delay-2">-->
<!--              <button type="button"><input type="submit" value="Submit" class="btn" onclick="test()" /></button>-->
<!--&lt;!&ndash;              <input type="submit" value="Submit" class="btn" onclick="test()">&ndash;&gt;-->
<!--            </div>-->
<!--          </form>-->

      <p class="copyright">
        &copy; <span class="this-year"></span> FBOE Inc. All rights reserved.
      </p>
    </div>
  </section>

</body>

</html>
