<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>About Us</title>

  <link rel="icon" href="/static/images/onlylogo.png" />
  <!--브라우저 스타일 초기화-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <!--Google Fonts - 나눔고딕-->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
  <!--Google Material Icons-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <!--GSAP & ScrollToPlugin-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.min.js" integrity="sha512-nTHzMQK7lwWt8nL4KF6DhwLHluv6dVq/hNnj2PBN0xMl2KaMm1PM02csx57mmToPAodHmPsipoERRNn4pG7f+Q==" crossorigin="anonymous"></script>
  <!--Swiper-->
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>
  <!--ScrollMagic-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
  <!--Lodash-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww==" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="/static/css/content1.css" />
  <script defer src="/static/js/aboutus.js" defer></script>

</head>
<body>

  <!--HEADER-->
  <header>
    <div class="inner">
      <a href="../" class="logo">
        <img src="/static/images/FBOENAME.png" alt="FBOE" />
      </a>

      <div class="main__nav">

        <div class="nav">
          <div class="nav__name"><a href="../">Home</a></div>
          <div class="nav__name" id="underline"><a class="solution" href="../mbca">Solutions</a>
            <ul class="solutions-nav">
              <li><a href="../mbca">MBCA</a></li>
              <li><a href="../amc">AMC</a></li>
            </ul>
          </div>
          <div class="nav__name" id="underline"><a class="aboutus" href="../introduction">About us</a></div>
          <div class="nav__name"><a href="../contact">Contact us</a></div>
        </div>

      </div>
    </div>
    <a href="javascript:void(0)" class="nav__button">
      <!-- <span class="material-icons-outlined"> -->
        <img src="/static/images/bar.png" alt="IMAGE1">
        <!-- </span> -->
    </a>



  </header>

  <!-- ABOUTUS-HEADER -->
  <section class="aboutus-header">
    <div class="inner2 scroll-spy">

      <div class="title-wrapper">
        <div class="title">
          <h1>ABOUT US</h1>
        </div>
        <div class="aboutus-wrapper">
          <ul class="aboutus-menu">
            <li> <a href="../introduction" class="content1">INTRODUCTION</a> </li>
            <li> <a href="../history" class="content3">HISTORY</a> </li>
          </ul>
        </div>
      </div>

    </div>
  </section>

  <!-- CONTENT 1  -->

  <!-- COMPANY OVERVIEW -->
  <section class="company-overview scroll-spy">

    <div class="inner">
      <div class="title-group back-to-position to-bottom delay-0">
        <!-- <span class="sub-title">FBOEIT</span> -->
        <h1>Company Introduction</h1>
        <!-- <hr class="featurette-divider"> -->
      </div>
      <!-- <div class="image-group">

      </div>  -->
      <div class="description-group back-to-position to-bottom delay-1">
        <div class="image-group">
          <img src="/static/images/onlylogo.png" alt="" style="width:400px;height:350px;" class="logo">
        </div>

        <div class="text-group">
          <p class="description">company introduction</p>
        </div>

      </div>

    </div>

  </section>

  <hr class="featurette-divider">


  <!-- OUR MANAGEMENT -->
  <section class="our-management scroll-spy">

    <div class="inner">
      <div class="title-group back-to-position to-bottom delay-0">
        <!-- <span class="sub-title">FBOEIT</span> -->
        <h1>Our Management</h1>
        <!-- <hr class="featurette-divider"> -->
      </div>


      <ul class="managements back-to-position to-bottom delay-1">
        <li class="executive">
          <ul>
            <li class="image"><img src="/static/images/CEOimage3.png" alt="" class="image1"/></li>
            <li class="text-group">
              <h2>Sungmoon Ahn</h2>
              <p>Chief Executive Officer</p>
            </li>
          </ul>

        </li>

        <li class="executive">
          <ul>
            <li class="image"><img src="/static/images/CSOimage7.png" alt="" class="image2"/></li>
            <li class="text-group">
              <h2>Suhwan Moon</h2>
              <p>Chief Strategy Officer</p>
            </li>

          </ul>

        </li>
      </ul>
    </div>

  </section>

  <hr class="featurette-divider">


  <!-- 경영 이념 -->
  <!-- <section class="management-philosophy scroll-spy">
    <div class="inner back-to-position to-bottom delay-0">
      <div class="title-group">
        <h1>Management Philosophy</h1>
      </div>
      <div class="description-group">
        <div class="image-group">
          <img src="./images/background.jpg" alt="" style="width:400px;height:400px;">
        </div>

        <div class="text-group">
          <p class="description">management philosophy</p>
        </div>
      </div>
    </div>
  </section> -->


  <!-- <hr class="featurette-divider"> -->

  <!-- VISION -->
  <section class="vision scroll-spy">

    <div class="inner">
      <div class="title-group back-to-position to-bottom delay-0">
        <!-- <span class="sub-title">FBOEIT</span> -->

        <h1>Our Vision</h1>
        <!-- <hr class="featurette-divider"> -->
      </div>
      <div class="text-group back-to-position to-bottom delay-0">
        <p class="description">For the blank, By the blank, Of the blank <br>
          In our FBOE, different viewpoints come together to become “One-Team”, and mutual trust and creativity create an infinite future.
          </p>
      </div>

      <ul class="vision">

        <li class="vision1 back-to-position to-bottom delay-1">
          <img src="/static/images/trust1.png" alt="" class="image1" />
          <div class="text-group">
            <h2></h2>
            <p></p>
          </div>
        </li>

        <li class="vision2 back-to-position to-bottom delay-2">
          <img src="/static/images/creative1.png" alt="" class="image2" />
          <div class="text-group">
            <h2></h2>
            <p></p>
          </div>
        </li>


        <li class="vision3 back-to-position to-bottom delay-3">
          <img src="/static/images/future1.png" alt="" class="image2" />
          <div class="text-group">
            <h2></h2>
            <p></p>
          </div>
        </li>
      </ul>



    </div>

  </section>

  <footer>
    <div class="inner">
      <div class="companyname">
        <p class="eng">FBOE</p>
      </div>
      <div class="info">
        <div class="footercontact">
          <p class="email">fboe@fboeit.com</p>
        </div>
        <p class="address">Room 1033, Ulsan Biz Park, 406-21, Jongga-ro, <br>Jung-gu, Ulsan, Republic of Korea</p>
      </div>

      <p class="copyright">
        <!-- &copy; <span class="this-year"></span> FBOEIT Company. All Rights Reserved. -->
        FBOE Co., Ltd. All Rights Reserved.
      </p>
    </div>
  </footer>


</body>

</html>
